/*Comienza El Html de Historias*/
.containerAll, .ContainerVete {
    width: 100%;
    max-width: 2000px;
    margin: left;
    padding:20px;
    padding-left: 10px;
    margin-top: 20px;
}
.containerAll img, .ContainerVete, video {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    box-shadow: 2px 2px 2px 4px rgba(3, 3, 3, 0.267);
    border-radius: 5px;
}
.mujeres {
        p {
            color:#000;
            font-size: 15px;
        }
        .mujeresMalv {
            display: block;
            width: 100%;
            color: rgb(0, 0, 0);
            background-color: rgba(235, 231, 231, 0.404);
            margin: 0 auto;
            padding: 50px ;
        }
}
